

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    width: 100%;
    background-color: #1F2937 ;
    color: white;
    

}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.signup-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    width: 100%;
    background-color: #1F2937 ;
    color: white;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.secondarytext {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
}

.box {
    border:solid thick lightblue;
    width:10rem;
    height:10rem;
}

.superiorbox {
    display: flex;

}

.actionbar {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    width: 100%;
    
}